

.card{
    overflow: hidden;
}
img{
    object-fit: contain;
    width: 100%;
}
.card-img{
    position: relative;
}
.card-img  h6{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.badge{
    background: rgb(0 0 0/50%);
    border-radius: 3px !important;
}
a{
    text-decoration: none!important;
}
